body{
    max-width: 100%;
    background-color: #eee;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

ul li{
    display: inline-block;
    width: 24%;
}

ul.cabecera li{
    font-weight: bold;
}

img{
    width: 50%;
    margin-top: 4px;
}

a,
a:visited,
a:focus{
    color: olivedrab;
    text-decoration: none;
}

a:hover{ /* cuando me pongo encima */
    color: cadetblue;
}

.derecha{
    text-align: right;
}

.centro{
    text-align: center;
}